.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 100px;
}

.App-link {
  color: #61dafb;
}

#tavern_brand {
  height: 90px;
  width: 90px
}

.Navbar {
  margin-left: 100px;
}

.dropdown-basic-button {
  background-color: #604020;
  color: white;
  border-radius: 7px;
}
.dropdown-basic-button:hover, .dropdown-basic-button:focus {
  background-color: #d4c398;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  justify-content: center;
  display: inline;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: -50px;
  background-color: #604020;
  color: antiquewhite;
  min-width: 230px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Show the dropdown menu (use JS to add this class to the 
.dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.employee-portrait {
  max-width: 200px;
  max-height: 200px;
  padding: 5px;
  margin-left: 30px;
  justify-content: center;
  border-radius: 20px;
}

.employee-card {
  margin-left: 25px;
  background-color:#d4c398;
}

#home-title {
  -webkit-text-fill-color: #5b2522;
  -webkit-text-stroke: 1px;
  font-size: 100px;
  font-weight: 1000;
  color: white;
  padding-top: 100px;
}

.homeText {
  -webkit-text-fill-color: #5b2522;
  -webkit-text-stroke: 1px;
  font-size: 50px;
  font-weight: 1000;
  color: white;
  padding-top: 100px;
}